
/*
VARIABLES
*/

$border-test:2px solid #ffd1c3;
$border-test-2:2px solid orangered;
//colors
$color-black:#000;
$color-white:#fff;
$color-gray:#ddd;
$color-primary-light:#2B59C3;
$color-primary-dark:#253C78;
$color-secondary:#D36582;
$color-tertiary:#FFEECF;
$color-brown:#C9A690;

$color-footer:#1B242F;
$color-footer-icons:#262F38;